body{font-family: Arial, Helvetica, sans-serif;
text-align: center;
margin-top: 50px;}
h1{font-size: 100px;}
button{
     margin: 20px;
    padding: 20px;
font-size: 20px;
cursor: pointer;}
.claro{
    background-color: rgb(225, 238, 226);
    color: black;
}
.escuro{
    background-color: black;
color: aliceblue;}
.coxa{
    background-color: rgb(0, 143, 12);
    color: aliceblue;
}
.greenhell{
    background-color: rgb(0, 0, 0);
    color: rgb(3, 175, 69);
}